![python image]()

___

### <font color=red>What Makes Python So Great?</font>

According to [w3schools.com](https://www.w3schools.com/python/python_intro.asp)

- Python was designed for readability, and has some similarities to the English language with influence from mathematics.


- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.


- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.


- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.

### <font color=orange>So What?</font>

- Python can be treated in a procedural way, an object-oriented way or a functional way.

- Python can connect to database systems. It can also read and modify files.


- Python can be used to handle big data and perform complex mathematics.


Python also has libraries that invaluable in the field of Data Science such as:

![python libraries](https://miro.medium.com/max/603/0*RSHaCzm8VQ-DFQOv)

___

### <font color=green>Now What?</font>

You might want to check and see what version of python you are running by typing the following in your terminal:

<p style="background:black">
<code style="background:black;color:white">python --version
</code>
</p>

### Data Types

**Text Type ->** `str`

A string can be surrounded by single or double quotation marks. I can have an empty string with no characters or a string can contain multiple words and characters.

- I can use the built-in function `type()` to check my data type.

In [1]:
type('Python rocks!')

str

In [12]:
type("a")

str

In [13]:
type('')

str

___

**Numeric Types ->** `int`, `float`

An `int` is a whole number and a `float` is a decimal number. *Jumping ahead a bit, you will find out that missing values are also considered `float` types.*

In [2]:
type(7)

int

In [3]:
type(7.5)

float

In [16]:
import numpy as np

type(np.NaN)

float

___

**Sequence Types ->** `list`, `tuple`, `range`

A list can contain elements of different data types and is a mutable object.

In [4]:
type([1, 3.5, 'apple'])

list

___

A tuple is an ordered, immutable object.

In [5]:
type((1, 3))

tuple

In [6]:
type(('red', 'blue'))

tuple

___

The `range(start, stop, step)` function creates a range object.

In [8]:
type(range(0,10,2))

range

I can wrap my range object in the built-in `list()` function to return a list of the integers specified by my range object.

In [10]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

___

**Mapping Type ->** `dict`

A dictionary object is made up key:value pairs separated by a comma. It is a mutable object. *Notice the curly brackets.*

In [11]:
type({'weekday': 'Thursday', 'day': 20, 'month': 'October', 'year': 2020})

dict

___

**Set Types ->** `set`

A set is an unordered and unindexed collection that is immutable and contains only unique values. *Notice the curly brackets.*

In [18]:
# Here I use curly brackets to create a set.

type({1, 1, 2, 5})

set

When I use the built-in `len()` function, I see that only the unique elements in the set are counted. *This can come in very handy when checking for unique elements in a list.*

In [19]:
# Set object denoted by curly brackets.

len({1, 1, 2, 5})

3

In [23]:
# List object denoted by square brackets.

len([1, 1, 2, 5])

4

In [22]:
# This list does not contain all unique elements.

len([1, 1, 2, 5]) == len({1, 1, 2, 5})

False

___

**Boolean Type ->** `bool`

Boolean values represent `True` and `False`. Bools are not strings, so they do not go in quotation marks, and they are case sensitive.

In [24]:
# The comparison I made above returns `False`, a bool value.

type(len([1, 1, 2, 5]) == len({1, 1, 2, 5}))

bool